
/* layout */

.bg{
    background-color: #F3F3FA;
}

.v-header .nav-link{
    /* color: #fff; */
    font-weight: 600;
    
}


/* chi tiet */

.v-answer:hover{
    background-color: #0d6efd;
}
.v-answer:hover span{
    color: #fff;
}